.nav-item {
  .nav-link {
    .nav-text {
      font-weight: bold;
    }
  }
}

.navbar-brand {
  .big-banner {
    max-width: 750px;
    display: none;
    @media (min-width: 768px) {
      display: inline;
    }
  }

  .small-banner {
    height: 57px;
    display: inline;
    @media (min-width: 768px) {
      display: none;
    }
  }
}
