<div class="container mt-5">
  <ng-content></ng-content>
  <form
    id="passwordResetForm"
    [formGroup]="passwordResetForm"
    class="needs-validation"
    novalidate
  >
    <div class="form-field mt-3 col-md-4 mx-auto">
      <label for="oldPassword">Old Password</label>
      <input
        (input)="inputFieldUpdate()"
        type="password"
        class="form-control"
        formControlName="oldPassword"
        id="oldPassword"
      />
    </div>
    <div *ngIf="submitted" class="col-md-4 mt-1 mx-auto text-danger">
      <div
        *ngIf="passwordResetFormControls['oldPassword'].hasError('required')"
      >
        This field is required.
      </div>
      <div
        *ngIf="passwordResetFormControls['oldPassword'].hasError('fieldsMatch')"
      >
        New Password cannot match Old Password
      </div>
    </div>

    <div class="form-field mt-3 col-md-4 mx-auto">
      <label for="newPasswordOne">New Password</label>
      <input
        (input)="inputFieldUpdate()"
        type="password"
        class="form-control"
        formControlName="newPasswordOne"
        id="newPasswordOne"
        required
      />
    </div>
    <div *ngIf="submitted" class="col-md-4 mt-1 mx-auto text-danger">
      <div
        *ngIf="passwordResetFormControls['newPasswordOne'].hasError('required')"
      >
        This field is required.
      </div>
      <div
        *ngIf="
          passwordResetFormControls['newPasswordOne'].hasError('fieldsMatch')
        "
      >
        New Password cannot match Old Password
      </div>
      <div
        *ngIf="
          passwordResetFormControls['newPasswordOne'].hasError(
            'fieldsDoNotMatch'
          )
        "
      >
        New Passwords must be identical
      </div>
    </div>
    <div class="form-field mt-3 col-md-4 mx-auto">
      <label for="newPasswordTwo">New Password Again</label>
      <input
        (input)="inputFieldUpdate()"
        type="password"
        class="form-control"
        formControlName="newPasswordTwo"
        id="newPasswordTwo"
        required
      />
    </div>
    <div *ngIf="submitted" class="col-md-4 mt-1 mx-auto text-danger">
      <div
        *ngIf="passwordResetFormControls['newPasswordTwo'].hasError('required')"
      >
        This field is required.
      </div>
      <div
        *ngIf="
          passwordResetFormControls['newPasswordTwo'].hasError(
            'fieldsDoNotMatch'
          )
        "
      >
        New Passwords must be identical
      </div>
    </div>
    <div class="text-center mb-4">
      <button
        (click)="reset()"
        type="submit"
        class="btn btn-primary mt-3 mx-auto"
      >
        Reset
      </button>
    </div>
  </form>
</div>
