<div class="container mt-5">
  <ng-content></ng-content>
  <form
    id="passwordResetForm"
    [formGroup]="passwordResetForm"
    class="needs-validation"
    novalidate
  >
    <div class="form-field mt-3 col-md-4 mx-auto">
      <label for="oldPassword">Old Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="oldPassword"
        id="oldPassword"
        [ngClass]="inputFieldValidity('oldPassword')"
      />
    </div>
    <div
      *ngIf="inputFieldValidity('oldPassword')['is-invalid']"
      class="col-md-4 mt-1 mx-auto text-danger"
    >
      <div *ngIf="controls['oldPassword'].hasError('required')">
        This field is required.
      </div>
      <div *ngIf="controls['oldPassword'].hasError('fieldsMatch')">
        Old Password cannot match New Password
      </div>
    </div>

    <div class="form-field mt-3 col-md-4 mx-auto">
      <label for="newPasswordOne">New Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="newPasswordOne"
        id="newPasswordOne"
        [ngClass]="inputFieldValidity('newPasswordOne')"
      />
    </div>
    <div
      *ngIf="inputFieldValidity('newPasswordOne')['is-invalid']"
      class="col-md-4 mt-1 mx-auto text-danger"
    >
      <div *ngIf="controls['newPasswordOne'].hasError('required')">
        This field is required.
      </div>
      <div *ngIf="controls['newPasswordOne'].hasError('fieldsMatch')">
        New Password cannot match Old Password
      </div>
      <div *ngIf="controls['newPasswordOne'].hasError('fieldsDoNotMatch')">
        New Passwords must be identical
      </div>
    </div>
    <div class="form-field mt-3 col-md-4 mx-auto">
      <label for="newPasswordTwo">New Password Again</label>
      <input
        type="password"
        class="form-control"
        formControlName="newPasswordTwo"
        id="newPasswordTwo"
        [ngClass]="inputFieldValidity('newPasswordTwo')"
      />
    </div>
    <div
      *ngIf="inputFieldValidity('newPasswordTwo')['is-invalid']"
      class="col-md-4 mt-1 mx-auto text-danger"
    >
      <div *ngIf="controls['newPasswordTwo'].hasError('required')">
        This field is required.
      </div>
      <div *ngIf="controls['newPasswordTwo'].hasError('fieldsDoNotMatch')">
        New Passwords must be identical
      </div>
    </div>
    <div class="text-center mb-4">
      <button
        (click)="reset()"
        type="submit"
        class="btn btn-primary mt-3 mx-auto"
      >
        Reset
      </button>
    </div>
  </form>
</div>
