<div class="container mt-5">
  <ng-content></ng-content>
  <form
    id="newComicForm"
    [formGroup]="newComicForm"
    class="needs-validation"
    novalidate
  >
    <div class="row align-items-center">
      <div class="col-1">
        <label for="index" class="col-form-label">Comic Index</label>
      </div>
      <div class="col-auto">
        <input
          type="number"
          id="index"
          [ngClass]="inputFieldValidity('index')"
          class="form-control"
          formControlName="index"
          aria-describedby="indexHelpInline"
        />
      </div>
      <div class="col-auto">
        <span id="indexHelpInline" class="form-text">
          (must be a positive and unique integer)
        </span>
      </div>
    </div>
    <div class="row align-items-center">
      <div
        *ngIf="controls['index'].invalid && controls['index'].dirty"
        class="row g-2 offset-md-1 col-md-4 mt-1 text-danger"
      >
        <div *ngIf="controls['index'].hasError('required')">
          This field is required.
        </div>
        <div *ngIf="controls['index'].hasError('indexTaken')">
          That index is already taken.
        </div>
        <div *ngIf="controls['index'].hasError('min')">
          Index must be positive.
        </div>
      </div>
    </div>
    <div class="row align-items-center mt-4">
      <div class="col-1">
        <label for="index" class="col-form-label">Comic Title</label>
      </div>
      <div class="col-auto">
        <input
          type="text"
          id="title"
          [ngClass]="inputFieldValidity('title')"
          class="form-control"
          formControlName="title"
          aria-describedby="titleHelpInline"
        />
      </div>
      <div class="col-auto">
        <span id="titleHelpInline" class="form-text"> (must be) </span>
      </div>
    </div>
    <div class="row align-items-center">
      <div
        *ngIf="controls['title'].invalid && controls['title'].dirty"
        class="row g-2 offset-md-1 col-md-4 mt-1 text-danger"
      >
        <div *ngIf="controls['title'].hasError('required')">
          This field is required.
        </div>
      </div>
    </div>
    <div class="text-center mb-4">
      <button
        (click)="submit()"
        type="submit"
        class="btn btn-primary mt-3 mx-auto"
      >
        Create
      </button>
    </div>
  </form>
</div>
