.badge-sm {
    min-width: 1.8em;
    padding-bottom: .25em;
    padding-left: .25em;
    padding-right: .25em;
    padding-top: .1em;
    margin-left: .3em;
    margin-right: .3em;
    text-decoration: none;
    cursor: pointer;
}

.btn-sml { height: 4vh; }