<div class="d-flex justify-content-center mt-4">
  <h1>{{ comic.title }}</h1>
  <!-- <h1>Potato</h1> -->
</div>

<div
  *ngIf="comic.title; else loading"
  class="d-flex justify-content-center mt-4"
>
  <img
    *ngIf="comic.index != -1; else notFound"
    id="comic"
    class="{{ comic.layout }}"
    src="{{ comic.image }}"
    title="{{ comic.altText }}"
  />
  <ng-template #notFound>
    <img
      id="comic"
      class="{{ comic.layout }}"
      src="{{ apiHost }}/not_found.png"
      title="{{ comic.altText }}"
    />
  </ng-template>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-4" style="height: 671px">
    <img
      id="comic"
      class="tall"
      src="{{ apiHost }}/loading.png"
      title="{{ comic.altText }}"
    />
  </div>
</ng-template>

<div class="d-flex justify-content-center mt-4">
  <p *ngIf="comic.index != -1">
    <a href="{{ selfHost }}/{{ comic.index }}"
      >{{ selfHost }}/{{ comic.index }}</a
    >
  </p>
</div>

<div class="d-flex justify-content-center">
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="navigate">
          <button
            *ngIf="comic.nextIndex != null; else dividerLL"
            routerLink="/"
            mat-icon-button
            matTooltip="Latest"
            class="material-nav"
            aria-label="Latest Comic"
          >
            <mat-icon>first_page</mat-icon>
          </button>
          <ng-template #dividerLL><div class="divider"></div></ng-template>
        </div>

        <div class="navigate">
          <button
            *ngIf="comic.nextIndex != null; else dividerL"
            routerLink="/{{ comic.nextIndex }}"
            (click)="obtainComicInfo(comic.nextIndex.toString())"
            mat-icon-button
            matTooltip="Next"
            class="material-nav"
            aria-label="Next Comic"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <ng-template #dividerL><div class="divider"></div></ng-template>
        </div>

        <div class="navigate">
          <button
            (click)="randomComic()"
            mat-icon-button
            matTooltip="Random"
            class="material-nav"
            aria-label="Random Comic"
          >
            <mat-icon>quiz</mat-icon>
          </button>
        </div>

        <div class="navigate">
          <button
            *ngIf="comic.prevIndex != null; else dividerR"
            routerLink="/{{ comic.prevIndex }}"
            (click)="obtainComicInfo(comic.prevIndex.toString())"
            mat-icon-button
            matTooltip="Previous"
            class="material-nav"
            aria-label="Previous Comic"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <ng-template #dividerR><div class="divider"></div></ng-template>
        </div>

        <div class="navigate">
          <button
            *ngIf="comic.prevIndex != null; else dividerRR"
            routerLink="/0"
            (click)="obtainComicInfo('0')"
            mat-icon-button
            matTooltip="First"
            class="material-nav"
            aria-label="First Comic"
          >
            <mat-icon>last_page</mat-icon>
          </button>
          <ng-template #dividerRR><div class="divider"></div></ng-template>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="d-flex justify-content-center mt-4 mb-4">
  <div class="navigate">
    <a
      *ngIf="comic.nextIndex != null; else dividerLL"
      class="icon-link"
      href="{{ selfHost }}"
      ><i class="bi bi-caret-left-square-fill nav-button"></i
    ></a>
    <ng-template #dividerLL><div class="divider"></div></ng-template>
  </div>

  <div class="navigate">
    <a
      *ngIf="comic.nextIndex != null; else dividerL"
      class="icon-link"
      href="{{ selfHost }}/{{ comic.nextIndex }}"
      ><i class="bi bi-caret-left-fill nav-button"></i
    ></a>
    <ng-template #dividerL><div class="divider"></div></ng-template>
  </div>

  <div class="navigate">
    <i
      (click)="randomComic()"
      class="bi bi-question-diamond-fill nav-button"
    ></i>
  </div>

  <div class="navigate">
    <a
      *ngIf="comic.prevIndex != null; else dividerR"
      class="icon-link"
      href="{{ selfHost }}/{{ comic.prevIndex }}"
      ><i class="bi bi-caret-right-fill nav-button"></i
    ></a>
    <ng-template #dividerR><div class="divider"></div></ng-template>
  </div>

  <div class="navigate">
    <a
      *ngIf="comic.prevIndex != null; else dividerRR"
      class="icon-link"
      href="{{ selfHost }}/0"
      ><i class="bi bi-caret-right-square-fill nav-button"></i
    ></a>
    <ng-template #dividerRR><div class="divider"></div></ng-template>
  </div>
</div>
