@import "../../../styles.scss";

#comic.square {
  max-width: 336px; //335.54432
  @media (min-width: 576px) {
    max-width: 419px; //419.40304
  }
  @media (min-width: 768px) {
    max-width: 524px; //524.288
  }
  @media (min-width: 992px) {
    max-width: 655px; //655.36
  }
  @media (min-width: 1200px) {
    max-width: 820px; //819.2
  }
  @media (min-width: 1400px) {
    max-width: 1024px;
  }
}

#comic.wide {
  width: 100%;
  max-width: 1280px;
}

.nav-button:hover {
  color: $primary;
}

.nav-button {
  color: $text;
  text-decoration: none;
  cursor: pointer;

  font-size: 18px;
  @media (min-width: 576px) {
    font-size: 22px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: 28px;
  }
  @media (min-width: 1200px) {
    font-size: 32px;
  }
  @media (min-width: 1400px) {
    font-size: 36px;
  }
}

.navigate {
  width: 18px;
  margin-left: 18px;
  margin-right: 18px;
  @media (min-width: 576px) {
    width: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }
  @media (min-width: 768px) {
    width: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  @media (min-width: 992px) {
    width: 28px;
    margin-left: 28px;
    margin-right: 28px;
  }
  @media (min-width: 1200px) {
    width: 32px;
    margin-left: 32px;
    margin-right: 32px;
  }
  @media (min-width: 1400px) {
    width: 36px;
    margin-left: 36px;
    margin-right: 36px;
  }
}

.divider {
  width: 18px;
  @media (min-width: 576px) {
    width: 22px;
  }
  @media (min-width: 768px) {
    width: 24px;
  }
  @media (min-width: 992px) {
    width: 28px;
  }
  @media (min-width: 1200px) {
    width: 32px;
  }
  @media (min-width: 1400px) {
    width: 36px;
  }
}
