<div class="d-flex justify-content-center mt-4">
  <h1>{{ comic.title }}</h1>
  <!-- <h1>Potato</h1> -->
</div>

<div
  *ngIf="comic.title; else loading"
  class="d-flex justify-content-center mt-4"
>
  <img
    *ngIf="comic.index != -1; else notFound"
    id="comic"
    class="{{ comic.layout }}"
    src="{{ comic.image }}"
    title="{{ comic.altText }}"
  />
  <ng-template #notFound>
    <img
      id="comic"
      class="{{ comic.layout }}"
      src="{{ apiHost }}/not_found.png"
      title="{{ comic.altText }}"
    />
  </ng-template>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center mt-4" style="height: 671px">
    <img
      id="comic"
      class="tall"
      src="{{ apiHost }}/loading.png"
      title="{{ comic.altText }}"
    />
  </div>
</ng-template>

<div class="d-flex justify-content-center mt-4">
  <p *ngIf="comic.index != -1">
    <a href="{{ selfHost }}/{{ comic.index }}"
      >{{ selfHost }}/{{ comic.index }}</a
    >
  </p>
</div>

<div class="d-flex justify-content-center mt-4 mb-4">
  <div class="navigate">
    <i
      id="latest-nav-button"
      *ngIf="comic.nextIndex != null; else dividerLL"
      routerLink="/"
      class="bi bi-caret-left-square-fill nav-button"
    ></i>
    <ng-template #dividerLL><div class="divider"></div></ng-template>
  </div>

  <div class="navigate">
    <i
      id="next-nav-button"
      *ngIf="comic.nextIndex != null; else dividerL"
      class="bi bi-caret-left-fill nav-button"
      routerLink="/{{ comic.nextIndex }}"
      (click)="obtainComicInfo(comic.nextIndex.toString())"
    ></i>
    <ng-template #dividerL><div class="divider"></div></ng-template>
  </div>

  <div class="navigate">
    <i
      (click)="randomComic()"
      class="bi bi-question-diamond-fill nav-button"
    ></i>
  </div>

  <div class="navigate">
    <i
      id="prev-nav-button"
      *ngIf="comic.prevIndex != null; else dividerR"
      class="bi bi-caret-right-fill nav-button"
      routerLink="/{{ comic.prevIndex }}"
      (click)="obtainComicInfo(comic.prevIndex.toString())"
    ></i>
    <ng-template #dividerR><div class="divider"></div></ng-template>
  </div>

  <div class="navigate">
    <i
      id="first-nav-button"
      *ngIf="comic.prevIndex != null; else dividerRR"
      routerLink="/0"
      (click)="obtainComicInfo('0')"
      class="bi bi-caret-right-square-fill nav-button"
    ></i>
    <ng-template #dividerRR><div class="divider"></div></ng-template>
  </div>
</div>
