@use "../../../styles/colors.scss";

#comic.square {
  width: 100%;
  @media (min-width: 576px) {
    max-width: 900px;
  }
  @media (min-width: 768px) {
    max-width: 900px;
  }
  @media (min-width: 992px) {
    max-width: 900px;
  }
  @media (min-width: 1200px) {
    max-width: 900px;
  }
  @media (min-width: 1400px) {
    max-width: 900px;
  }
}

#comic.wide {
  width: 100%;
  max-width: 1280px;
}

#comic.tall {
  width: 100%;
  @media (min-width: 768px) {
    max-width: 746px; //746.496
  }
  @media (min-width: 992px) {
    max-width: 829px; //829.44
  }
  @media (min-width: 1200px) {
    max-width: 922px; //921.6
  }
  @media (min-width: 1400px) {
    max-width: 1024px;
  }
}

.nav-button:hover {
  color: colors.$primary;
}

.nav-button {
  color: colors.$text;
  text-decoration: none;
  cursor: pointer;

  font-size: 18px;
  @media (min-width: 576px) {
    font-size: 22px;
  }
  @media (min-width: 768px) {
    font-size: 24px;
  }
  @media (min-width: 992px) {
    font-size: 28px;
  }
  @media (min-width: 1200px) {
    font-size: 32px;
  }
  @media (min-width: 1400px) {
    font-size: 36px;
  }
}

.navigate {
  width: 18px;
  margin-left: 18px;
  margin-right: 18px;
  @media (min-width: 576px) {
    width: 22px;
    margin-left: 22px;
    margin-right: 22px;
  }
  @media (min-width: 768px) {
    width: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  @media (min-width: 992px) {
    width: 28px;
    margin-left: 28px;
    margin-right: 28px;
  }
  @media (min-width: 1200px) {
    width: 32px;
    margin-left: 32px;
    margin-right: 32px;
  }
  @media (min-width: 1400px) {
    width: 36px;
    margin-left: 36px;
    margin-right: 36px;
  }
}

.divider {
  width: 18px;
  @media (min-width: 576px) {
    width: 22px;
  }
  @media (min-width: 768px) {
    width: 24px;
  }
  @media (min-width: 992px) {
    width: 28px;
  }
  @media (min-width: 1200px) {
    width: 32px;
  }
  @media (min-width: 1400px) {
    width: 36px;
  }
}

.material-nav {
  color: colors.$primary;
}

//Sourced from https://material.angular.io/components/button/examples

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.bg {
  background-size: 100% auto;
}